<h1><%= @movie.title %></h1>
<p><%= @comment.body %></p>

<%# link_to ‘Edit Comment’, edit_movie_comment_path([@movie, @comment]) %>
<%# link_to ‘Delete Comment’, [@movie, @comment], method: :delete %>
<%# link_to ‘Back To Comment’, movie_comment_path(@movie) %>
